.shortcut {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* 针对 IE8 以及更早的版本 */
}

// div.header {
//   margin-top: 55px;
//   margin-left: 110px; //根据页面宽度变化而变化
//   margin-right: 110px;
// }

.bigSliderLeft {
  margin-left: 20px;
}

.bigSliderRight {
  margin-right: 20px;
}


.big_cente {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "SimHei";
}
// .bigSliderLeft {
//   margin-left: 50px;
// }
//
// .bigSliderRight {
//   margin-right: 50px;
// }
// .big_mains_home .main-content-con {
//   padding-top: 10px;
// }
.big_mains_home .big_header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.big_cente {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  font-family: "SimHei";
}
div.big_mains_home {
  // position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px 10px;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  z-index: -10;
  zoom: 1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  background-image: url("../../assets/images/background.png");
  background-color: rgba(0,0,0,0);

  .backColor {
    background-color: rgba(0,0,0,0);
  }

  .backImage {
    //background-image: url("../../assets/images/background.png")
    background: url("../../assets/images/leftUp.png") left top no-repeat, url("../../assets/images/rightUp.png") right top no-repeat, url("../../assets/images/leftDown.png") left bottom no-repeat, url("../../assets/images/rightDown.png") right bottom no-repeat;
    background-color: rgba(0,0,0,0.1);
    //  -webkit-filter: blur(3px);
    // filter: blur(3px);
  }
   .ivu-modal-content
   {
       background-color: rgba(0,0,0,0.6);
   }
}


div.part {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  z-index: -10;
  zoom: 1;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  background-image: url("../../assets/img/backgroundForPart.png");
  background-color: rgba(0,0,0,0);

  .backColor {
    background-color: rgba(0,0,0,0);
  }
}

.menutopleft {
  margin: 0;
}

.menutopright {}

.menuleft {}

.menuright {}

.ivu-layout {}
