
*{
	margin:0px;
	padding:0px;
}
html,body{
	// font-size:62.5%;
	font-family:"PingFang SC","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	color:#333;
}
.ivu-layout{
  background:#f5f5f5;
}
.ivu-table{
  font-size:13px;
}
.ivu-menu{
  font-size:14px;
  color: #333;
}
.ivu-menu.ivu-menu-vertical{
  padding-top: 10px;
}

//左侧菜单栏缩展开时图标颜色
.ivu-menu li:nth-child(1) i.iconfont{
  color: #20c6b8;
}
.ivu-menu li:nth-child(2) i.iconfont{
  color: #02b3d7;
}
.ivu-menu li:nth-child(3) i.iconfont{
  color: #ff7e53;
}
.ivu-menu li:nth-child(4) i.iconfont{
  color: #516ee2;
}
.ivu-menu li:nth-child(5) i.iconfont{
  color: #20c6b8;
}
.ivu-menu li:nth-child(6) i.iconfont{
  color: #02b3d7;
}
.ivu-menu li:nth-child(7) i.iconfont{
  color: #ff7e53;
}
.ivu-menu li:nth-child(8) i.iconfont{
  color: #516ee2;
}
//左侧菜单栏缩小时图标颜色
.ivu-dropdown:nth-child(1) a i.iconfont{
   color: #20c6b8 !important;
}
.ivu-dropdown:nth-child(2) a i.iconfont{
   color: #02b3d7 !important;
}
.ivu-dropdown:nth-child(3) a i.iconfont{
   color: #ff7e53 !important;
}
.ivu-dropdown:nth-child(4) a i.iconfont{
   color: #516ee2 !important;
}
.ivu-dropdown:nth-child(5) a i.iconfont{
   color: #20c6b8 !important;
}
.ivu-dropdown:nth-child(6) a i.iconfont{
   color: #02b3d7 !important;
}

// 左侧菜单栏主题颜色修改
.ivu-layout-sider{
  background:#fff!important;
  border-right:1px solid #eee;
  box-shadow:0px 0px 4px #ddd;
}
.ivu-menu{
  i{
    font-size:24px !important;
    color:#333;
   }
  .ivu-menu-submenu-title-icon{
    font-size:13px!important;
    color:#aaa !important;
    justify-content: flex-end;
   }
   .ivu-menu-submenu-title span{
    flex: 1
   }
}


  .ivu-menu-vertical .ivu-menu-submenu-title-icon{
    top:0px;
   }
   .ivu-menu-vertical .ivu-menu-item, .ivu-menu-vertical .ivu-menu-submenu-title{
    display: flex;
    align-items: center;
   }

/*
.ivu-menu-dark.ivu-menu-vertical{
  background:#fff !important;
  .ivu-menu-submenu-title{
    background:none !important;
    }
  .ivu-menu-item:hover,.ivu-menu-submenu-title:hover{
     i,span{
            color:#00c6de!important;
           }
    box-sizing:border-box;
    background:none!important;
    }
   .ivu-menu-submenu .ivu-menu-item-active{
    border-right:3px solid #00c6de;
    background:none !important;
   }
   .ivu-menu-submenu .ivu-menu-item-active:hover{
     background:none !important;
     }
   i{
    font-size:1.8em;
	  color:#333;
   }
   .ivu-menu-submenu-title-icon{
	font-size:1.2em !important;
	color:#aaa !important;
   }
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title{
  color:#333 !important;

}
.ivu-menu-vertical .ivu-menu-opened , .ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title{
  background:#f3f3f3 !important;
}

.ivu-menu-submenu > .ivu-menu > .ivu-menu-item > i{
	font-size:1.4em
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover{
   background:#ecfdff !important;
}
*/
