<template>
  <div class="main">
    <Row :gutter="10">
    <i-col span="12">
      <Card>
        <div class="title">
        	<Icon type="ios-pin" />
        	<span>位置轨迹</span>
        </div>
        <!-- 设置高德地图的位置轨迹 -->
        <!-- <div id="container" style="width: 100%; height: 450px;"></div> -->
        <!-- <GaodeTrack :trackLine="newLine"></GaodeTrack> -->
<div id="container" style="widows: 100%; height: 506px;"></div>

      </Card>
    </i-col>
    <i-col span="12">
      <Card>
      <div class="title">
      	<Icon type="md-pulse" />
      	<span>动态数据</span>
      </div>
      <div class="selection">
      	<!-- select选择options -->
      	<Select filterable v-model="model1" multiple :label-in-value="true" ref="setSelect" placeholde="请搜索" @on-change="ChangeValue" style="width:150px; padding-right: 4px;">
      		<!-- <OptionGroup label=""> -->
			     <Option placeholde="请重新选择" v-for="item in cityList" :value="item.value" :key="item.value + item.index" :disabled="item.disabled">
			      {{item.label}}
			   </Option>
			  <!-- </OptionGroup> -->
    		</Select>
      </div>
      <!-- 显示select选择的内容 -->
      <div class="dataContent" v-show="fruit.length > 0">
      	<Row class="selectItem" v-for="(item, index) in fruit" :key="index">
      		<Col span="12" align="right" class="colorItem" :style="{'color':colorType[index]}" ref="getData">{{ydata[index] ? ydata[index] : 0}}</Col>
      		<Col span="12">{{item.label}}</Col>
      	</Row>
      	<div id="echarts" ref="echartsId" style="width: 100%; height: 300px;" class="echarts-line"></div>
      </div>
      </Card>
    </i-col>
  </Row>
 </div>
</template>

<script>
// import GaodeTrack from '_c/gaodeMap/gaode_tracks'
// import EchartsLine from '_c/echarts/line'
import {
  mapActions,
  mapGetters,
  // mapState
} from 'vuex'
import echarts from 'echarts'
export default{
name: 'data_webscoket',
components: {
	// GaodeTrack,
	// EchartsLine
},
data(){
	return{
		msg: '1111',
		cityList: [],
		defaultOptions: {
			map: null
		},
		model1: [],
		fruit: [],
		newLine: [],
		colorType: ["#47a447", "#ED9c28", "#e36159", "#2baab1","#734ba9"], //图表的样式颜色,
		// echarts的数据
		lineEcharts: {
			xAxisData: [],
			legendData: [],
			seriesData: [],
			ydata: [],
		},
		xAxisData:[],
		lonData: 0,
		latData: 0,
		seriesData:[],
		ydata:[]
	}
},
computed: {
...mapGetters([
	'getWebscoket',
])
},
watch:{
	getWebscoket(nv, ov){
		let _this = this;
		_this.setDataWebscoket();
		_this.myChart.clear();
		let myOption = _this.drawLine(_this.lineEcharts.xAxisData);
		_this.myChart.setOption(myOption);
		_this.defaultOptions.map.clearMap();
		_this.createMap();
	},
},
mounted(){
	// 获取select的option的接口
	this.getTrackData();
	this.initMap();
	this.setDataWebscoket();
	this.createMap()
},
methods: {
...mapActions([
	'getTrack'
]),
initMap(){
  //初始化地图
	this.defaultOptions.map = new AMap.Map("container", {
    resizeEnable: true,
    // center: [116.397428, 39.90923],
    zoom: 13
		});
	},
createMap(){
	let that = this;
	let markers = [];
	this.newLine.forEach(function(obj, i){	
		let marker = new AMap.Marker({
    map: that.defaultOptions.map,
    position: obj,
    icon: require("@/assets/images/car.png"),
    offset: new AMap.Pixel(-26, -13),
   autoRotation: true,
    angle: 0,
});  
	markers.push(marker);
})
for(let i=0; i< markers.length-1; i++){
	that.defaultOptions.map.remove(markers[i]);
}

// 绘制轨迹
that.defaultOptions.polyline = new AMap.Polyline({
  map: that.defaultOptions.map,
  path: that.newLine,
  showDir:true,
  strokeColor: "#28F",  //线颜色
  strokeOpacity: 1,     //线透明度
  strokeWeight: 6,      //线宽
  strokeStyle: "solid"  //线样式
});
	that.defaultOptions.map.setFitView();
},
//处理webscoket中推送过来的信息
setDataWebscoket(){
	let _this = this;
  this.getWebscoket.forEach(function(obj){
  	if(obj.alias === 'calLon'){
  		_this.lonData = +obj.value
  	}else if(obj.alias === 'calLat'){
  		_this.latData = +obj.value
  	}
  })
  if(isNaN(parseFloat(_this.lonData)) || isNaN(parseFloat(_this.latData))){return;}
 		_this.newLine.push([_this.lonData, _this.latData]);

 	console.log(_this.newLine,'_this.newLine');

 	if(_this.fruit.length > 0){
 		this.getWebscoket.forEach(function(obj){
 		_this.fruit.forEach(function(obje, j){
 			if(obj.alias === obje.value){
 				_this.ydata.push(Number(obj.value));
 				_this.seriesData[j].name = obje.label.trim();
 				_this.seriesData[j].data.push(obj.value);
 			}
 		})
 		if(obj.alias === "DATIME_RX"){
 			if(_this.xAxisData.indexOf(obj.value) == -1)
  		_this.xAxisData.push(obj.value)
  	}
 	})
 	}else{
 		return;
 	}
 	_this.seriesData.forEach(function(obj, i){
 		if(obj.data.length === 0){
 			_this.seriesData.splice(i, 1);
 		}
 	})
 	_this.lineEcharts.xAxisData = _this.xAxisData;
 	_this.lineEcharts.seriesData = _this.seriesData;
 	console.log(_this.lineEcharts.xAxisData, 'this.lineEcharts.xAxisData');
 	console.log(_this.ydata, '_this.lineEcharts.ydata')
	console.log(_this.seriesData, '_this.lineEcharts.seriesData')
},
// 处理select选择option数量的问题
ChangeValue(value){
	let _this = this;
	if(value.length >= 5){
		let arr3 = this.cityList.filter(item => {
		return value.every(item2 => {
			return item.value != item2.value
		})
	})
	arr3.forEach(function(obj){
		obj.disabled = true;
	})
	}else{
		this.cityList.forEach(function(obj){
			obj.disabled = false;
		})
	}
	this.fruit = value;
	this.ydata = [];
	this.getEcharts();

},
//接口获取select的所有options选项
getTrackData(){
	let _this = this;
	this.getTrack().then(res => {
		res.forEach(function(obj){
			_this.cityList.push({
				label: obj.title.trim(),
				value: obj.alias.trim(),
				disabled: false
			})
		})
	})
},
//echarts y轴数据变化的时候，随着变化的数据
// getData(index){
// 	if(this.lineEcharts.seriesData.data){
// 		let data = this.lineEcharts.seriesData[index].data
// 		// console.log(data, 'dataaaaaaaaaaaaaaaaaa');
// 		// debugger;
// 		// console.log(this.legenNum, 'this.legenNum');
// 		return data ? (data[data.length-1] ? data[data.length-1] : 0) : 0
// 		// return data ? data[index++] : 0
// 	}else{
// 		return 0;
// 	}
// 	},

//echarts
getEcharts(){
	let _this = this;
	let echartsId = this.$refs.echartsId;
	 echartsId.style.width = window.innerWidth/3 + 100 + 'px';
	this.myChart = echarts.init(echartsId);
	this.myChart.clear();
	this.lineEcharts.legendData = [];
	this.lineEcharts.xAxisData = [];
	this.lineEcharts.seriesData = [{name: '', type: "line", data: []}];
	this.lineEcharts.ydata = [];
	for(var i=0; i<100; i++){
    this.lineEcharts.xAxisData.push('');
    this.lineEcharts.ydata.push(0);
  }
  let fruit = JSON.parse(JSON.stringify(this.fruit));
  fruit.forEach(function(obj){
		let value = obj.label.trim();
			_this.lineEcharts.legendData.push(value);
			_this.lineEcharts.seriesData.push({name: value, type: 'line', data: _this.lineEcharts.ydata});
			_this.seriesData.push({name: value, type: 'line', data: []});

	})
	let myOption = this.drawLine(this.lineEcharts.xAxisData);
	this.myChart.clear();
	this.myChart.setOption(myOption);
	// console.log(this.lineEcharts.ydata, 'ydata');
},
drawLine(value){		
	let myOption = {
		tooltip: {
        trigger: 'axis'
    },
    show: false,
    legend: {
      data: this.lineEcharts.legendData
            },
    toolbox: {
      show: false,
      feature: {
          mark: {
              show: true
          },
          dataView: {
              show: true,
              readOnly: false
          },
          magicType: {
              show: true,
              type: ['line', 'bar']
          },
          restore: {
              show: true
          },
          saveAsImage: {
              show: true
          }
      }
  },
    grid: {
        x: 40,
        y: 40,
        x2: 40,
        y2: 30
    },
    dataZoom: {
        show: true,
        start: 0,
        end: 100
    },
    xAxis: [{
        type: 'category',
        boundaryGap: true,
        splitLine: {
            show: false
        },
        data: value
    }],
    yAxis: [{
        type: 'value',
        scale: true,
        splitLine: {
            show: false
        },
        boundaryGap: [0.2, 0.2]
    }],

    series: this.lineEcharts.seriesData,
    color: ["#0088cc", "#47a447", "#ED9c28", "#e36159", "#2baab1",
        "#734ba9"]

  };
	return myOption;
},
}
}
</script>

<style scoped>
.title{
	text-align: left;
	line-height: 30px;
	height: 30px;
	border-bottom: 1px solid #e2dddd;
}
.selection{
	display: flex;
	padding-top: 10px;
}
.dataContent{
	padding-top: 15px;
}
.selectItem{
	height: 30px;
	border-bottom: 1px solid #e2dddd;
	line-height: 30px;
	color: #aaa;
}
.colorItem{
	color: red;
	padding-right: 10px;
	font-size: 24px;
}
.echarts-line{
	padding-top: 40px;
}
/*.ivu-select-multiple .ivu-select-item-selected:after{
	display: none;
}*/
.main >>> .ivu-tag{
	display: none;
}
.control{
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	height: 50px;
	line-height: 45px;
	border: 1px solid #e2dddd;
	padding-left: 20px;
	display: flex;
}
.borderRadius{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 20px;
	background: #fff;
	border-radius: 50%;
	box-shadow:1px 1px #ccc;
	margin-left: 5px;
	cursor: pointer;
}
.control-icon{
	display: inline-block;
	position: relative;
}
.process{
	display: inline-block;
	width: 78%;
	padding-left: 20px;
}
.main >>> .ivu-progress-inner{
	background-color: #bfb8b8;
}
.tips{
	width: 24px;
    height: 24px;
    position: absolute;
    top: -8px;
    left: 54px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #aaa;
    background: #f1eded;
    line-height: 24px;
    text-align: center;
    color: red;
}
.main >>> .ivu-input-wrapper{
	padding: 0 4px;
	width: 306px;
}
.main >>> .ivu-input{
	width: 300px;
	text-align: center;
}
.main >>> .ivu-input-icon{
	left: 268px;
}
</style>